footer {
  background-color: #ffddd2;
  text-align: center;
  padding: 16px;
  width: 100%;
  margin-top: auto;
}
.footer-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkBlue);
}
.footer-main li {
  list-style: none;
  text-align: left;
  cursor: pointer;
  padding: 6px;
  border-bottom: 1px solid #e29578;
  margin-right: 10px;
}

.footer-main li:hover {
  background-color: #e29578;
  color: #fff;
  font-weight: bold;
  transition: all 0.4s ease;
}

.copyright {
  font-size: 12px;
  color: #e29578;
}

.social-links a {
  color: #006d77;
  text-decoration: none;
  margin: 0 12px;
  font-size: 18px;
  padding: 6px;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Media Query for Tablet */
@media only screen and (max-width: 768px) {
  .footer-top-content {
    flex-direction: column;
  }
  footer .contact-link {
    margin-bottom: 24px;
  }
  .social-links {
    margin-bottom: 24px;
  }
}
