* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 16px;
}
.main-logo {
  width: 40px;
}
.main-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 16px 16px;
  background-color: #252525;
  color: white;
}
.main-navigation li {
  text-decoration: none;
  padding: 6px 12px;
}
/* 
just for starting
*/
