.main-h1 {
  text-align: center;
  padding: 0 24px;
  margin-top: 20px;
  color: var(--darkBlue);
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 16px;
}
.main-sidebar {
  width: calc(30% - 2%);
  min-height: 60vh;
  padding: 12px 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 8px;
  margin-right: 2%;
  h2 {
    margin-bottom: 8px;
    text-align: center;
    color: var(--darkBlue);
  }
}
.main-animals-list {
  list-style: none;
}
.active-list-element {
  background-color: var(--darkBrovn);
  color: #fff;
}
.group-name {
  margin-bottom: 12px;
}

.main-animal {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 8px;
  margin-bottom: 6px;
  list-style-type: none;
  transition: all 0.4s ease;
}
.main-animal:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--darkBrovn);
}
.main-animal-main {
  width: 70%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.main-page-message {
  font-size: 1.5rem;
  border: 1px solid var(--lightBrovn);
  border-radius: 8px;
  padding: 12px;
  color: var(--darkBrovn);
}
.main-animal-info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.main-animal-img {
  width: 180px;
  border-radius: 12px;
  margin: 12px;
}
.main-animal-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  p {
    margin-bottom: 6px;
  }
}
.link-to-group {
  padding: 8px 12px;
  background-color: var(--darkBrovn);
  color: #fff;
  width: 100%;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 250px;
  margin: auto;
}

/* Media Query for Tablet */
@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 16px;
    min-height: 58vh;
  }
  .main-sidebar,
  .main-animal-main {
    width: 100%;
    margin-right: 0;
    min-height: min-content;
    margin-bottom: 16px;
  }
  .main-animal {
    margin-right: 12px;
    padding: 6px 16px;
  }
  .link-to-group {
    width: 100%;
  }
}

/* Media Query for Phone */
@media only screen and (max-width: 480px) {
}
